<nav class="navbar">
  <div class="logo"><img src="../../../assets/img/logo.png" alt="">
  </div>
  
  <ul class="nav-links">
    <div class="menu">
      <li routerLink="/productos"><a>Productos</a></li>
      <li routerLink="/personal"><a>Personal</a></li>
      <li routerLink="/proveedor"><a>Proveedores</a></li>
      <li routerLink="/sucursal"><a>Sucursales</a></li>
    </div>
  </ul>
</nav>

