* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

a {
    text-decoration: none;
}

.logo img {
    width: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    font-size: 18px;
}

.menu li:hover{
    height: 65px;
    background-color: rgb(185, 0, 0);
    transition: 0.3s ease;
}

.menu li {
    text-align: center;
    width: 120px;
    height: 65px;
    padding: 15px;
    list-style: none;
}

  