<div class="title">
  <p>PERSONAL</p>
</div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cargo</th>
        <th scope="col">Contacto</th>
        <th scope="col">Fecha de contrato</th>
        <th scope="col">Horario laboral</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of rellenar; let i = index">
          <td>{{ item.nombrePersonal }}</td>
          <td>{{ item.cargoPersonal }}</td>
          <td>{{ item.contactoPersonal }}</td>
          <td>{{ item.fechadecontratoPersonal }}</td>
          <td>{{ item.horariolaboralPersonal }}</td>
        </tr>
      </tbody> 
  </table>

