.title{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-family:monospace;
    letter-spacing: .9rem;
}

thead{
    border-color: black;
}
td{
    border-color: rgb(173, 173, 173);
    
}

table{
   margin-left: 3%;
   margin-right: 3%;
   width: 94%;
}