<div class="title">
  <p>PROVEEDORES</p>
</div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Contacto</th>
        <th scope="col">Productos suministrados</th>
        <th scope="col">condicion de pago</th>
        <th scope="col">Evaluación</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of rellenar; let i = index">
          <td>{{ item.nombreProveedor }}</td>
          <td>{{ item.contactoProveedor }}</td>
          <td>{{ item.ProductosSuministrados }}</td>
          <td>{{ item.condicionPago }}</td>
          <td>{{ item.evaluacionProveedor }}</td>
        </tr>
      </tbody> 
  </table>


