<div class="title">
  <p>PRODUCTOS</p>
</div>


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Presentación</th>
        <th scope="col">Contenido</th>
        <th scope="col">Costo</th>
        <th scope="col">Provedor</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Estatus</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of rellenar; let i = index">
          <td>{{ item.nombreProducto }}</td>
          <td>{{ item.marcaProducto }}</td>
          <td>{{ item.presentacionProducto }}</td>
          <td>{{ item.contenidoProducto }}</td>
          <td>{{ item.costoProducto }}</td>
          <td>{{ item.provedorProducto }}</td>
          <td>{{ item.cantidadIngresa }}</td>
          <td>{{ item.statusProducto }}</td>
          <td>{{ item.descripcionProducto }}</td>
        </tr>
      </tbody> 
  </table>


