<div class="title">
  <p>SUCURSALES</p>
</div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Telefono</th>
        <th scope="col">Gerente a cargo</th>
        <th scope="col">Horario de atención</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of rellenar; let i = index">
          <td>{{ item.nombreSucursal }}</td>
          <td>{{ item.direccionSucursal }}</td>
          <td>{{ item.telefonoSucursal }}</td>
          <td>{{ item.gerenteSucursal }}</td>
          <td>{{ item.horarioAtencionSucursal }}</td>
        </tr>
      </tbody> 
  </table>


